In [36]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [37]:
data=pd.read_csv("./data/gemstone_train.csv")  # here . represents the current directory

data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [38]:
# dropping id column from gemstone dataframe

data.drop(labels=["id"], axis=1, inplace=True)

data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [39]:
# segregating independent (X) and dependent (y) features
# here price is dependent feature and rest are independent feature

X=data.drop(["price"], axis=1)

y=data[["price"]]

In [40]:
# Independent features

X

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [41]:
# Dependent feature

y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

## Segregating categorical and numerical features from the Independent features dataframe

In [42]:
# calling columns of the numerical features

X.select_dtypes(exclude="object").columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [43]:
# calling columns of the categorical features

X.select_dtypes(include="object").columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [44]:
# numerical features

num_feature = X.select_dtypes(exclude="object")
num_feature

        carat  depth  table     x     y     z
0        1.52   62.2   58.0  7.27  7.33  4.55
1        2.03   62.0   58.0  8.06  8.12  5.05
2        0.70   61.2   57.0  5.69  5.73  3.50
3        0.32   61.6   56.0  4.38  4.41  2.71
4        1.70   62.6   59.0  7.65  7.61  4.77
...       ...    ...    ...   ...   ...   ...
193568   0.31   61.1   56.0  4.35  4.39  2.67
193569   0.70   60.3   58.0  5.75  5.77  3.47
193570   0.73   63.1   57.0  5.72  5.75  3.62
193571   0.34   62.9   55.0  4.45  4.49  2.81
193572   0.71   60.8   64.0  5.73  5.71  3.48

[193573 rows x 6 columns]

In [45]:
# categorical features

cat_feature = X.select_dtypes(include="object")
cat_feature

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [46]:
# Defining the custom ranking for each ordinal variable in the categorical features

cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']

color_categories = ['J', 'I', 'H', 'G', 'F', 'E', 'D']

clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [47]:
# for handling missing values
from sklearn.impute import SimpleImputer

# for scaling data into standard normal distribution
from sklearn.preprocessing import StandardScaler

# for encoding ordinal categorical features
from sklearn.preprocessing import OrdinalEncoder

# for pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [48]:
# creating a pipeline for numerical feature

num_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer()),
        ("scaler", StandardScaler())
    ]
)

In [49]:
# creating pipeline for categorical features

cat_pipeline = Pipeline(
    steps=[
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("ordinal", OrdinalEncoder(categories=[cut_categories, color_categories, clarity_categories]))
    ]
)

In [73]:
# transforming the pipelines created

preprocessor = ColumnTransformer(
    [
        ("num", num_pipeline, num_feature.columns),
        ("cat", cat_pipeline, cat_feature.columns)
    ]
)

In [63]:
# dividing the independent (X) and dependent (y) features into train and test data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [64]:
# my X_train data before preprocessing

X_train

        carat        cut color clarity  depth  table     x     y     z
11504    0.41      Ideal     E    VVS2   60.6   56.0  4.85  4.80  2.93
95284    1.23  Very Good     H     VS1   59.9   59.0  6.91  7.01  4.19
184777   1.70    Premium     H     VS2   62.0   58.0  7.61  7.66  4.74
5419     0.33      Ideal     F    VVS1   61.2   56.0  4.47  4.44  2.73
45466    0.33  Very Good     I     SI1   62.1   58.0  4.41  4.45  2.75
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
119879   0.50  Very Good     E     SI1   60.2   61.0  5.11  5.15  3.09
103694   1.91  Very Good     F     SI1   62.3   62.0  7.85  7.79  4.87
131932   1.22    Premium     G     VS2   62.8   58.0  6.82  6.74  4.26
146867   0.31  Very Good     G    VVS1   61.1   56.0  4.37  4.40  2.67
121958   0.31  Very Good     G     SI2   61.8   59.0  4.34  4.38  2.70

[135501 rows x 9 columns]

In [65]:
# my X_test data before preprocessing

X_test

        carat        cut color clarity  depth  table     x     y     z
14868    0.50      Ideal     D     SI1   62.1   57.0  5.05  5.08  3.14
165613   2.00  Very Good     G     SI2   59.5   57.0  8.08  8.15  4.89
96727    0.27    Premium     E    VVS1   60.5   59.0  4.19  4.16  2.52
145593   0.32    Premium     I    VVS1   61.2   59.0  4.43  4.44  2.71
118689   1.19      Ideal     H     SI1   62.5   56.0  6.77  6.81  4.23
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
39151    0.91  Very Good     I     SI2   62.4   59.0  6.18  6.13  3.83
32423    0.51      Ideal     D     VS2   62.4   56.0  5.13  5.11  3.19
17876    0.41      Ideal     G    VVS1   61.8   56.0  4.79  4.77  2.95
72938    1.21    Premium     I     SI1   61.1   60.0  6.88  6.79  4.18
2265     1.01  Very Good     E     VS2   62.8   56.0  6.33  6.46  4.02

[58072 rows x 9 columns]

In [74]:
# initializing preprocessing on independent train and test data

# fit_transform on X_train data
preprocessor.fit_transform(X_train)

array([[-0.82314374, -1.12998781, -0.64189666, ...,  4.        ,
         5.        ,  5.        ],
       [ 0.94502267, -1.77782269,  0.92190185, ...,  2.        ,
         2.        ,  4.        ],
       [ 1.9584839 ,  0.16568195,  0.40063568, ...,  3.        ,
         2.        ,  3.        ],
       ...,
       [ 0.92345966,  0.90606467,  0.40063568, ...,  3.        ,
         3.        ,  3.        ],
       [-1.03877378, -0.66724861, -0.64189666, ...,  2.        ,
         3.        ,  6.        ],
       [-1.03877378, -0.01941373,  0.92190185, ...,  2.        ,
         3.        ,  1.        ]])

In [75]:
# applying transform on X_test data
preprocessor.transform(X_test)

array([[-0.62907669,  0.25822979, -0.12063049, ...,  4.        ,
         6.        ,  2.        ],
       [ 2.60537405, -2.14801405, -0.12063049, ...,  2.        ,
         3.        ,  1.        ],
       [-1.1250258 , -1.22253565,  0.92190185, ...,  3.        ,
         5.        ,  6.        ],
       ...,
       [-0.82314374, -0.01941373, -0.64189666, ...,  4.        ,
         3.        ,  6.        ],
       [ 0.90189666, -0.66724861,  1.44316802, ...,  3.        ,
         1.        ,  2.        ],
       [ 0.47063656,  0.90606467, -0.64189666, ...,  2.        ,
         5.        ,  3.        ]])

In [76]:
# getting the names of the columns of the transformed dataset

preprocessor.get_feature_names_out()

array(['num__carat', 'num__depth', 'num__table', 'num__x', 'num__y',
       'num__z', 'cat__cut', 'cat__color', 'cat__clarity'], dtype=object)

In [77]:
# converting X_train data and X_test data into dataframe

# X_train
X_train = pd.DataFrame(data=preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out())

# X_test
X_test = pd.DataFrame(data=preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out())

In [78]:
# X_train data after preprocessing

X_train

,num__carat,num__depth,num__table,num__x,num__y,num__z,cat__cut,cat__color,cat__clarity
0,-0.823144,-1.129988,-0.641897,-0.780451,-0.835103,-0.876024,4.0,5.0,5.0
1,0.945023,-1.777823,0.921902,1.073226,1.166389,0.946633,2.0,2.0,4.0
2,1.958484,0.165682,0.400636,1.703116,1.755063,1.742237,3.0,2.0,3.0
3,-0.995648,-0.574701,-0.641897,-1.122391,-1.161138,-1.165334,4.0,4.0,6.0
4,-0.995648,0.258230,0.400636,-1.176382,-1.152082,-1.136403,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...
135496,-0.629077,-1.500179,1.964434,-0.546492,-0.518125,-0.644575,2.0,5.0,2.0
135497,2.411307,0.443325,2.485700,1.919078,1.872797,1.930288,2.0,4.0,2.0
135498,0.923460,0.906065,0.400636,0.992240,0.921862,1.047891,3.0,3.0,3.0
135499,-1.038774,-0.667249,-0.641897,-1.212375,-1.197364,-1.252127,2.0,3.0,6.0
135500,-1.038774,-0.019414,0.921902,-1.239371,-1.215477,-1.208731,2.0,3.0,1.0

In [79]:
# X_test data after preprocessing

X_test

,num__carat,num__depth,num__table,num__x,num__y,num__z,cat__cut,cat__color,cat__clarity
0,-0.629077,0.258230,-0.120630,-0.600482,-0.581521,-0.572248,4.0,6.0,2.0
1,2.605374,-2.148014,-0.120630,2.126042,2.198832,1.959219,2.0,3.0,1.0
2,-1.125026,-1.222536,0.921902,-1.374347,-1.414721,-1.469110,3.0,5.0,6.0
3,-1.017211,-0.574701,0.921902,-1.158385,-1.161138,-1.194265,3.0,1.0,6.0
4,0.858771,0.628421,-0.641897,0.947248,0.985258,1.004495,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...
58067,0.255007,0.535873,0.921902,0.416340,0.369414,0.425874,2.0,1.0,1.0
58068,-0.607514,0.535873,-0.641897,-0.528495,-0.554351,-0.499920,4.0,6.0,3.0
58069,-0.823144,-0.019414,-0.641897,-0.834441,-0.862273,-0.847093,4.0,3.0,6.0
58070,0.901897,-0.667249,1.443168,1.046230,0.967145,0.932167,3.0,1.0,2.0
58071,0.470637,0.906065,-0.641897,0.551317,0.668280,0.700719,2.0,5.0,3.0

## Model training

In [80]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [105]:
# creating a function for calculating R-Squared stats, MSE, RMSE and MAE

def evaluate_model(true, predicted):
    R2_score = r2_score(true, predicted)
    MSE = mean_squared_error(true, predicted)
    RMSE = np.sqrt(MSE)
    MAE = mean_absolute_error(true, predicted)

    return RMSE, MAE, R2_score

In [92]:
# creating dictionary of different models for looping purpose

models = {
    "LinearRegression Model": LinearRegression(),
    "Ridge Model": Ridge(),
    "Lasso Model": Lasso(),
    "ElasticNet Model": ElasticNet()
}

In [93]:
# fetching keys of model dictionary

models.keys()

dict_keys(['LinearRegression Model', 'Ridge Model', 'Lasso Model', 'ElasticNet Model'])

In [94]:
# fetching values of model dictionary

models.values()

dict_values([LinearRegression(), Ridge(), Lasso(), ElasticNet()])

In [95]:
# looping values (i.e. models) from models dictionary

for i in range(len(models)):

    model = list(models.values())[i]
    print(model)

LinearRegression()
Ridge()
Lasso()
ElasticNet()

In [116]:
# training the model and then predicting using test data

for i in range(len(models)):

    # fetching model
    model=list(models.values())[i]

    # training the model
    model.fit(X_train, y_train)

    # model is trained
    # making predictions now
    y_pred = model.predict(X_test)

    # checking validation (test) score of the model
    RMSE, MAE, R2_score = evaluate_model(y_test, y_pred)

    print(str(i+1)+".",  list(models.keys())[i])

    print("Training Performance of the Model")
    print(f"root_mean_squared_error: {RMSE}")
    print(f"mean_absolute_error: {MAE}")
    print(f"r2_score: {R2_score*100}")

    print("\n")

1. LinearRegression Model
Training Performance of the Model
root_mean_squared_error: 1014.6296630375463
mean_absolute_error: 675.0758270067486
r2_score: 93.62906819996047


2. Ridge Model
Training Performance of the Model
root_mean_squared_error: 1014.6343346159636
mean_absolute_error: 675.1087261318797
r2_score: 93.6290095334793


3. Lasso Model
Training Performance of the Model
root_mean_squared_error: 1014.6596067601726
mean_absolute_error: 676.3788803086727
r2_score: 93.62869215688461


4. ElasticNet Model
Training Performance of the Model
root_mean_squared_error: 1513.647930363851
mean_absolute_error: 1051.172228186302
r2_score: 85.8212616241159